<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Page Title Goes Here</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    
    <!-- loading in Google Fonts here to work with IE-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="stylesheets/styles.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
   <!--  <script src="js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
      <div class="top-head-area">

        <div class="icon-container">
          
            <a href="#" target="_blank"><div class="github-icon"></div></a>
            <a href="#"><div class="linkedin-icon" target="_blank"></div></a>
            <a href="#"><div class="mail-icon"></div></a>

        </div>
          
      
      </div>
    <div class="container container-box">

      <!-- HEADER SECTION -->
      <div class="header-section">
        <hr>
        <h1>Name Goes Here</h1>
        <h2> subheader goes here</h2>
        <hr>
      </div>

      
      <!-- ABOUT SECTION -->
      <div  id="about-section" class="body-section">
      <h1>Headline 1</h1>
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus hendrerit luctus elit sollicitudin rhoncus. Cras auctor est vel diam auctor dignissim. In hac habitasse platea dictumst. Nunc ac volutpat eros. Aliquam urna mauris, ultricies vitae sem mattis, interdum ullamcorper erat. Nam massa lectus, malesuada ac placerat at, dignissim ac turpis. Nunc in facilisis nisi. Nam mattis laoreet rutrum. Duis sit amet aliquam ante.
      </p>
      </div>

      <!-- SKILLS SECTION -->
      <div  id="skills-section" class="body-section">
      <h1>Headline 2</h1>
      <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla pretium ac est ut facilisis. Phasellus fringilla sem vestibulum mi sagittis pellentesque. Donec turpis sem, cursus ac suscipit varius, consequat sed magna. Maecenas maximus ipsum diam, eget auctor massa fringilla eget.
      </p>

      </div>

      <!-- EXPERIENCE SECTION -->
      <div id="experience-section" class="body-section">
      <h1>Headline3</h1>
      
      <p>Morbi eget tincidunt mauris, varius ornare sapien. Cras eget tortor eget lacus egestas convallis. Praesent auctor mauris ac quam porttitor dictum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tristique nisi quis nunc molestie, in auctor dolor aliquam. Aliquam id erat nec quam tincidunt feugiat eu eu diam. Quisque eget arcu nisi. Cras mollis vestibulum est et elementum. Vivamus laoreet justo sit amet quam tempus vestibulum.</p>
      
      </div>

      <!-- DOWNLOAD SECTION -->
      <div class="download-section body-section">
         <a href="#" target="_blank"> <div class="download-btn">
          <p>Download PDF</p><div class="pdf-icon"></div>
          </div></a>

          <a href="#" target="_blank"><p>Online Portfolio</p></a>
      </div>

    </div><!-- /.container -->

    <!-- FOOTER SECTION -->
    <footer class="footer-section">
      <h1> Name goes here &copy;2016</h1>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
